<form>
  <div class="form-group">
    <label for="name">案例名称</label>
    <input type="text" class="form-control" id="name"
           required
           [(ngModel)]="caseName" name="name"
           #verifyName="ngModel" >
    <div [hidden]="verifyName.valid || verifyName.pristine"
         class="alert alert-danger">
      Name is required
    </div>
  </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-6">
        <p-orderList [value]="selectedRecords" [listStyle]="{'height':'100px'}" [responsive]="true" header="新建案例">
          <template let-record>
            <div class="ui-helper-clearfix">{{record.name}}-{{record.appName}}</div>
          </template>
        </p-orderList>
      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-md-6">
          <ul>
            <li *ngFor="let record of selectedRecords" style="list-style-type:none">{{record.scriptName}}-{{record.id}}</li>
          </ul>
        </div>
      </div>
    </div>

  <button type="button" class="btn btn-default" (click)="addNewRecord()">创建</button>
</form>

<!--<div class="ui-g">-->
  <!--<div class="ui-g-12 ui-md-6">-->
    <!--<p-orderList [value]="selectedRecords" [listStyle]="{'height':'100px'}" [responsive]="true" header="新建案例">-->
      <!--<template let-record>-->
        <!--<div class="ui-helper-clearfix">{{record.scriptName}}-{{record.appName}}</div>-->
      <!--</template>-->
    <!--</p-orderList>-->
  <!--</div>-->
  <!--<div class="ui-g">-->
    <!--<div class="ui-g-12 ui-md-6">-->
      <!--<ul>-->
        <!--<li *ngFor="let record of selectedRecords" style="list-style-type:none">{{record.scriptName}}-{{record.appName}}</li>-->
      <!--</ul>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


