<form>
  <div class="form-group">
    <label for="name">上传测试脚本</label>
    <input type="file" class="form-control;display:none;" id="name"
           required
           [ng-file-select]="options"
           (onUpload)="handleUpload($event)"
           [(ngModel)]="record.name" name="name"
           #verifyName="ngModel" accept=".py">
  </div>

  <div class="form-group">
    <label for="app-upload-owned-by">选择APP：</label>
    <p-dropdown [options]="selectItems" [(ngModel)]="selectedItem" id= "app-upload-owned-by" name="apps"></p-dropdown>
  </div>

  <button type="button" class="btn btn-default" (click)="addNewRecord()">创建</button>
</form>

<div *ngIf="uploadFile">
  Progress: {{ uploadProgress }}%
</div>
<div *ngIf="uploadFile">
  <div class="ui indicating olive progress">
    <div class="bar" [style.width]="uploadProgress + '%'"></div>
    <div class="label">Uploading file ({{ uploadProgress }}%)</div>
  </div>
</div>

<div>
  Response: <br/>{{ uploadFile | json }}
</div>
