<form>
  <div class="form-group">
    <label for="appName">上传应用</label>
    <input type="file" class="form-control" id="appName"
           required
           [(ngModel)]="record.appName" name="appName"
           #verifyName="ngModel" accept=".apk">
    <div [hidden]="verifyName.valid || verifyName.pristine"
         class="alert alert-danger">
      请上传应用
    </div>
    {{"appname: "+ record.appName}}
  </div>

  <div class="form-group">
    <label for="appVersion">App版本</label>
    <input type="text" class="form-control" id="appVersion"
           required
           [(ngModel)]="record.appVersion" name="appVersion"
           #verifyName="ngModel" >
    <div [hidden]="verifyName.valid || verifyName.pristine"
         class="alert alert-danger">
      请填写版本
    </div>
  </div>

  <div class="form-group">
    <label for="os">负责人</label>
    <input type="text"  class="form-control" id="os"
           required
           [(ngModel)]="record.os" name="os">
    <div [hidden]="verifyName.valid || verifyName.pristine"
         class="alert alert-danger">
      Name is required
    </div>
  </div>

  <div class="form-group">
    <label for="app-upload-owned-by">选择项目：</label>
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" id= "app-upload-owned-by" name="ownedBy"></p-dropdown>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>

<!--<p-dropdown [options]="cities" [(ngModel)]="selectedCity" id="project"></p-dropdown>-->
