<p-dataTable [value]="records" selectionMode="multiple" [(selection)]="selectedRecords" [rows]="20" [paginator]="true"
             [lazy]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadRecordLazy($event)">
    <header>
      <div class="ui-helper-clearfix">
        <button pButton type="button" (click)="onAddRecord()" label="上传脚本" style="float:left"></button>
        <button pButton type="button" (click)="onAddCase()" label="生成测试案例" style="float:left"></button>
        <button pButton type="button" (click)="onDeleteRecord()" label="删除脚本" style="float:left"></button>
      </div>
    </header>
    <p-column field="name" header="测试脚本" [filter]="true"></p-column>
    <p-column field="appName" header="应用" [filter]="true"></p-column>
    <p-column field="appVersion" header="应用版本" [filter]="true"></p-column>
    <p-column field="createDate" header="上传时间" [filter]="true"></p-column>
    <p-column field="userName" header="上传者" [filter]="true"></p-column>
    <p-column header="操作" styleClass="col-button">
      <template let-record="rowData" pTemplate type="body">
        <button type="button" pButton (click)="selectRecord(record)" icon="fa-search"></button>
      </template>
    </p-column>
</p-dataTable>

<p-dialog header="上传测试脚本" [(visible)]="displayNew" [modal]="modal">
  <script-upload-form (onSubmit)="onSubmit($event)"></script-upload-form>
</p-dialog>

<p-dialog header="生成案例" [(visible)]="displayCase" [modal]="modal">
  <form>
    <div class="form-group">
      <label for="name">案例名称</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="caseName" name="name"
             #verifyName="ngModel" >
      <div [hidden]="verifyName.valid || verifyName.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <div class="ui-g">
      <div class="ui-g-12 ui-md-6">
        <p-orderList [value]="selectedRecords" [listStyle]="{'height':'100px'}" [responsive]="true" header="新建案例">
          <template let-record>
            <div class="ui-helper-clearfix">{{record.name}}-{{record.appName}}-{{record.userName}}</div>
          </template>
        </p-orderList>
      </div>
      <!--<div class="ui-g">-->
        <!--<div class="ui-g-12 ui-md-6">-->
          <!--<ul>-->
            <!--<li *ngFor="let record of selectedRecords" style="list-style-type:none">{{record.name}}-{{record.id}}</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    </div>

    <button type="button" class="btn btn-default" (click)="addNewCase()">提交</button>
  </form>
</p-dialog>

<p-dialog header="编辑脚本" [(visible)]="displayScript" [modal]="modal">
  <header>
    <button type="text" (click)="uploadScript()" pButton icon="fa-external-link-square" label="保存"></button>
  </header>
  <codemirror [(ngModel)]="code" [config]="config"></codemirror>
  <!--<div [innerHTML]="code"></div>-->
</p-dialog>

<!--<codemirror [(ngModel)]="code" [config]="config"></codemirror>-->
<!--<div [innerHTML]="code"></div>-->

<!--<script-editor></script-editor>-->

<!--<form>-->
  <!--<div class="form-group">-->
    <!--<label for="name">案例名称</label>-->
    <!--<input type="text" class="form-control" id="name"-->
           <!--required-->
           <!--[(ngModel)]="caseName" name="name"-->
           <!--#verifyName="ngModel" >-->
    <!--<div [hidden]="verifyName.valid || verifyName.pristine"-->
         <!--class="alert alert-danger">-->
      <!--Name is required-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="ui-g">-->
    <!--<div class="ui-g-12 ui-md-6">-->
      <!--<p-orderList [value]="selectedRecords" [listStyle]="{'height':'100px'}" [responsive]="true" header="新建案例">-->
        <!--<template let-record>-->
          <!--<div class="ui-helper-clearfix">{{record.name}}-{{record.appName}}</div>-->
        <!--</template>-->
      <!--</p-orderList>-->
    <!--</div>-->
    <!--<div class="ui-g">-->
      <!--<div class="ui-g-12 ui-md-6">-->
        <!--<ul>-->
          <!--<li *ngFor="let record of selectedRecords" style="list-style-type:none">{{record.scriptName}}-{{record.id}}</li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<button type="button" class="btn btn-default" (click)="addNewRecord()">创建</button>-->
<!--</form>-->
