<div class="ui-grid ui-grid-responsive ui-fluid">
  <form>
    <div class="form-group">
      <label for="name">项目</label>
      <input type="text" class="form-control" id="name"
             required
             [(ngModel)]="record.name" name="name"
             #verifyName="ngModel" >
      <div [hidden]="verifyName.valid || verifyName.pristine"
           class="alert alert-danger">
        Name is required
      </div>
    </div>

    <!--<div class="form-group">-->
      <!--<label for="userName">负责人</label>-->
      <!--<input type="text"  class="form-control" id="userName"-->
             <!--required-->
             <!--[(ngModel)]="record.userName" name="userName">-->
      <!--<div [hidden]="verifyName.valid || verifyName.pristine"-->
           <!--class="alert alert-danger">-->
        <!--Name is required-->
      <!--</div>-->
    <!--</div>-->

    <button type="button" class="btn btn-default" (click)="addNewRecord()">提交</button>
  </form>
</div>
